<h1> đây là trang con</h1>
<div>
    <h2>thông tin công nhân</h2>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">mã ID</th>
                <th scope="col">Email</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each dataUser}}
            <tr>
                <td>
                    {{id}}
                </td>
                <td>
                    {{email}}
                </td>
                <td>
                    {{first_name}}
                </td>
                <td>
                    {{last_name}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>